<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
<<<<<<< HEAD
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="round">
        <%= yield %>
=======
	<div class="container">
	  <%= render 'layouts/header' %>
      <section class="round">	
         <%= yield %>
>>>>>>> filling-in-layout
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
